.datepicker {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    font-family: 'Helvetica Neue', arial, sans-serif;
    background: white;
    z-index: 1;
}

.datepicker_month {
    width: 100%;
}

.datepicker_marker,
.datepicker_day {
    font-size: .8rem;
    padding: .5em .3em;
    text-align: center;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    transition: color 150ms, background 150ms;

    &:last-of-type {
        border-right: 0;
    }
}

.datepicker_header {
    padding: .3rem .5rem;
    text-align: center;
    background: #3bcbb7;

    @include justify(middle);
}

.datepicker_button {
    display: inline-block;
    border: none;
    width: 26px;
    height: 26px;
    position: relative;
    cursor: pointer;
    background: rgba(255, 255, 255, .2);
    border-radius: 100%;
    transition: 150ms background;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        left: calc(50% - 4px);
        top: calc(50% - 4px);
        border-top: 2px solid white;
        border-right: 2px solid white;
        transition: 150ms border-color;
    }

    &:first-child:not(:last-child) {
        margin-right: .5rem;
    }

    &:hover,
    &:active {
        background: white;

        &:before,
        &:after {
            border-color: #3bcbb7;
        }
    }
}

.datepicker_button__prev-year {
    &:before {
        transform: translateX(-20%) rotate(-135deg);
    }

    &:after {
        transform: translate(60%) rotate(-135deg);
    }
}

.datepicker_button__prev-month {
    &:before {
        transform: translate(20%) rotate(-135deg);
    }
}

.datepicker_button__next-year {
    &:before {
        transform: translateX(-60%) rotate(45deg);
    }

    &:after {
        transform: translate(20%) rotate(45deg);
    }
}

.datepicker_button__next-month {
    &:before {
        transform: translate(-20%) rotate(45deg);
    }
}

.datepicker_button__prev-month:after,
.datepicker_button__next-month:after {
    display: none;
}

.datepicker_heading {
    font-size: 1rem;
    color: #fff;
    font-family: 'Helvetica Neue', arial, sans-serif;
}

.datepicker_month {
    border: 1px solid #eee;
}

.datepicker_marker {
    color: #ccc;
    font-weight: bold;
    font-size: .7rem;
    padding: .45rem .5rem;
}

.datepicker_day {
    cursor: pointer;

    &:not(.datepicker_day__selected):hover {
        color: #3bcbb7;
    }
}

.datepicker_week:last-of-type .datepicker_day {
    border-bottom: 0;
}

.datepicker_day__weekend,
.datepicker_marker__weekend {
    background: #fafafa;
}

.datepicker_day__padding {
    background: #f8f8f8;
    color: #aaa;

    &.datepicker_day__weekend {
        background: #f4f4f4;
    }
}


.datepicker_day__selected {
    background: #3bcbb7;
    color: #fff;
    border-right: 1px solid #3bcbb7;
    border-bottom: 1px solid #3bcbb7;
    font-weight: bold;
}

.datepicker_day__today {
    font-weight: 900;
}
